<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<b>Name: </b>
			<%= @service.name %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<b>Description: </b>
			<%= @service.description %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<b>Projects: </b>
			<% @selected = Project.all %>
			<% @selected.each do |project| %>
				<% if (project.service_id == @service.id) %>
					<div class="row-fluid">
						<%= link_to project.name, service_project_path(@service.id,project) %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row-fluid">
		<%= link_to 'Add Project', new_service_project_path(@service) %> |
		<%= link_to 'Edit Service', edit_service_path(@service) %> |
		<%= link_to 'Back', services_path %>
	</div>
</div>
