<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start Date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Service:</b>
  <%= Service.find(@project.service_id).name %>
</p>


<%= link_to 'Edit', edit_service_project_path(@project.service_id, @project) %> |
<%= link_to 'Back', service_path(@project.service_id) %>
