<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @testimonial.comment %>
</p>

<p>
  <b>Name:</b>
  <%= @testimonial.name %>
</p>

<p>
  <b>Service:</b>
  <%= @testimonial.service_id %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
